body {
  font-family: Arial, Helvetica, sans-serif;
}

.countain {
  margin: 7% 25%;
  box-shadow: 10px 10px 5px grey;
  border: 3px solid #f1f1f1;
}

.form-head {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #f1f1f1;
}

.form-head h1 {
  font-size: 32px;
}

.form-head p {
  margin-top: 10px;
  font-size: 16px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  font-size: 17px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.t-and-c {
  width: 100%;
  font-size: 14px;
}

.t-and-c input {
  float: left;
  margin: 5px 5px 0;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

#sign-in {
  font-size: 16px;
  padding: 0 10%;
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 768px) {
  .countain {
    margin: 5% 10%;
  }
}
